<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
    {% include navbar.html %}
    <div class="area">
        {{ content }}
    </div>
    {% include sideMenu.html %}
    {% include footer.html %}
</body>

<script>
    function toggleSidebar() {
        const toggleClass = (el, className) => el.classList.toggle(className);
        toggleClass(document.querySelector('.side-menu'), 'expanded'); // The div container will not have the 'active' class anymore
    }
</script>

</html>